/* Add this to your existing CSS or create a new stylesheet */

.menu {
  position: absolute;
  top: 50px; /* Adjust the top position as needed */
  left: 0;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 1;
}

.menu div {
  margin-bottom: 10px;
}

.main-content {
  margin-top: 20px; /* Adjust the margin as needed */
}

/* Default styles for larger screens */
.menu {
  display: none;
}

@media screen and (max-width: 600px) {
  /* Styles for screens with a width of 600px or less */
  .menu {
    position: absolute;
    top: 50px; /* Adjust the top position as needed */
    left: 0;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 1;
  }

  .menu div {
    margin-bottom: 10px;
  }

  .main-content {
    margin-top: 20px; /* Adjust the margin as needed */
  }

  button {
    background-color: #ffffff;
    color: #3498db;
  }
}
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #e92525;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}


@media screen and (max-width: 766px) {
  .sidebar {
    width: 100%;
    height: auto;
    
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}